<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LSSCADA.Properties.Settings.FastStoreDataConnectionString"
            connectionString="Data Source=DATASERVER;Initial Catalog=FastStoreData;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>